{% macro title(name, no_icon, icon='house') -%}
  {%- if no_icon -%}
    {{ name }}
  {%- else -%}
    <i class="bi bi-{{ icon }}"></i><span class="icon-label">{{ name }}</span>
  {%- endif -%}
{%- endmacro %}
