{% if SOCIAL %}
  {% from 'includes/sidebar/macros.jinja' import title %}
  {% set SIDEBAR_ICONS = not DISABLE_SIDEBAR_TITLE_ICONS %}

<!-- Sidebar/Social -->
<li class="list-group-item">
  <h4>{{ title(_('Social'), not SIDEBAR_ICONS) }}</h4>
  <ul class="list-group" id="social">
    {% for s in SOCIAL %}
      {% if s[2] %}
        {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
      {% else %}
        {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
      {% endif %}
      {% if name_sanitized in ['github', 'twitter', 'facebook', 'linkedin', 'google', 'youtube', 'instagram', 'gitlab', 'stack-overflow', 'reddit', 'telegram', 'whatsapp', 'mastodon', 'threads', 'bluesky', 'discord', 'slack', 'medium', 'pinterest', 'snapchat', 'tiktok', 'vimeo', 'dribbble', 'behance', 'wechat', 'line', 'spotify', 'rss', 'envelope', 'person', 'house', 'globe', 'phone'] %}
        {% set iconattributes = '"bi bi-' ~ name_sanitized ~ '"' %}
      {% else %}
        {% set iconattributes = '"bi bi-link-45deg"' %}
      {% endif %}
    <li class="list-group-item"><a href="{{ s[1] }}">{% if SIDEBAR_ICONS %}<i class={{ iconattributes }}></i>{% endif %} {{ s[0] }}</a></li>
    {% endfor %}
  </ul>
</li>
<!-- End Sidebar/Social -->
{% endif %}
